@charset "UTF-8";
/* CSS Document */

#demo-component div{
	background-color:yellow;
}

#demo-panel .panel-heading,
#demo-panel .panel-footer{
	background-color:#FF8B8D;
}

#header-bar{
	background-color:#FF8E90;
}

#footer-bar{
	color:white;
	padding:10px;
}

#carousel1 .carousel-indicators li{
	border-color:black;
}

#tab-body{
	border-left:solid;
	border-bottom:solid;
	border-right:solid;
	border-width:1px;
	border-color:lightgray;
	height:120px;
}

#tab-body .breadcrumb{
	background-color:white;
}

#demo-jumbo{
	background-color:black;
	color:white;
	height:60px;
	padding:14px;
}

#accordion1 .panel-heading{
	background-color:#FF8C8E;
}